services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    env_file: .env.build
    ports:
      - 3002:3002
  nginx:
    image: nginx:latest
    ports:
      - 80:80
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - frontend
